*{
  font-family: century-gothic, sans-serif;
  font-weight: light;
}
html{
  font-family: century-gothic, sans-serif;
  font-weight: light;
  background-color:  rgb(248, 242, 242);
  font-size: 20px;
}
h1{
  font-weight: bolder;
  font-size: 50px;
}
h2{
  font-weight: lighter;
  font-size:50px;
  background-color: black;
  padding: 5px;

}
h3{
  font-weight: lighter;
  line-height: 30px;
}

footer{
  background-color:#00239C;
  margin-top: 2em;
  margin-bottom: 2em;
  color:white;
  text-align: center;
}


.headimg {
  width: 95vw;
  margin-bottom: 2vh;
}

.skip{
  position: absolute;
  color:orange;
  left: -2000px;
  display: block;
}

.skip:focus{
  border:1px solid black;
  font-size: 2vw;
  left:0%;
  top: 10px;

}


#main{
  background-color: #00239C;
  margin: 5vw;
  padding: 2.5vw;
  text-align: center;
  color: white;
}
.anchor{
  text-align: left;
}

.content{
  margin:0 2.5vw 2.5vw 2.5vw; 
}

.Button {
  -moz-box-shadow: -1px 12px 27px -6px #000000;
  -webkit-box-shadow: -1px 12px 27px -6px #000000;
  box-shadow: -1px 12px 27px -6px #000000;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1440d1), color-stop(1, #001c7a));
  background:-moz-linear-gradient(top, #1440d1 5%, #001c7a 100%);
  background:-webkit-linear-gradient(top, #1440d1 5%, #001c7a 100%);
  background:-o-linear-gradient(top, #1440d1 5%, #001c7a 100%);
  background:-ms-linear-gradient(top, #1440d1 5%, #001c7a 100%);
  background:linear-gradient(to bottom, #1440d1 5%, #001c7a 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1440d1', endColorstr='#001c7a',GradientType=0);
  background-color:#1440d1;
  -moz-border-radius:41px;
  -webkit-border-radius:41px;
  border-radius:41px;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:century-gothic, sans-serif;
  font-size:14px;
  font-weight:bold;
  padding:8px 14px;
  text-decoration:none;
}
.Button:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #001c7a), color-stop(1, #1440d1));
  background:-moz-linear-gradient(top, #001c7a 5%, #1440d1 100%);
  background:-webkit-linear-gradient(top, #001c7a 5%, #1440d1 100%);
  background:-o-linear-gradient(top, #001c7a 5%, #1440d1 100%);
  background:-ms-linear-gradient(top, #001c7a 5%, #1440d1 100%);
  background:linear-gradient(to bottom, #001c7a 5%, #1440d1 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#001c7a', endColorstr='#1440d1',GradientType=0);
  background-color:#001c7a;
}
.Button:active {
  position:relative;
  top:1px;
}


form{
  text-align: left;
  font-family: century-gothic, sans-serif;
}
input{
  width :40%;
}

.profile{
  width: 30vw;
  padding: 5%;
}

.plex{
  display: flex;
  justify-content: space-around;
  line-height: 2em;

}


/* NavBar _______ */

/* Sticky NavBar _______  */

#navbar {
  overflow: hidden;
  display: flex;
  background-color: #00239C;
  justify-content: space-around;
}
#navbar a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

#navbar a:hover{
  background-color: black;
  font-weight: bold;
}


.sticky {
  position: fixed;
  top: 0;
  width: 95vw;
}

.sticky {
  padding-top: 10px;
}

/* NavBar _______ */

.fctx{
  margin-top: 10%;
  margin-left: 20%;
}
.dropdown {
  float: left;
  overflow: hidden;
}

/* Style the dropdown button to fit inside the topnav */
.dropdown .dropbtn {
  font-size: 17px; 
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #00239C;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Style the links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a dark background on topnav links and the dropdown button on hover */
.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

/* Add a grey background to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-content {
  display: block;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}
/* CSS Parallax _______ */

.parallax { 
  background-image: url("bgp.png");
  height: 100%;  
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#navbar #currentpage{
  background-color: black;
  font-weight: bold;
  color: #00239C;
}
#navbar #currentpage:hover{
  background-color: white;
  color: #00239C;
}


.project img{
  width:80%;

}

i{
  color:white;
}

.brand{
  display: flex;
}



@media only all and (min-width: 320px){ 


  .projimg{
    width: 100%;
    height: 100%;
    padding: 5px;
  }




}


/*phone orientation landscapre  */
@media only all and (orientation: landscape){ 

  .info{
    text-align:right;
    font-weight:normal;
  }
  .stnd{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;


  }
  .bio{
    text-align:justify;
  }
  
  .projimg{
    display: grid;
    flex-wrap: wrap;
    flex-direction: row;
    width: 20%;
    height: 20%;
    padding: 5px;
  }
}

@media only all and (min-width: 1000px){ 

  .info{
    text-align:right;
    font-weight:normal;
  }
  .stnd{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

}


.container {
  justify-content: left;
}

.carouselbox {
  font-family: century-gothic, sans-serif;
  display: block;
  font-weight: bolder;
  font-size: 2em;
  position: relative;
}

.buttons{
  position: relative;
  margin-top: 2em;

  


}
.active {
  height: 40vw;
}

.carouselbox button {
  border: none;
  visibility: block;
  border-radius:100px;
  border: 20px solid rgb(38, 35, 53);
  background:rgb(38, 35, 53);
  color:rgb(248, 242, 242);
}
.active button {
  visibility: visible;

} 

.active li {
  position: absolute;
  opacity: 0;
  transform: scale(0);
  transition: 1s;
}
.active li.current {
  pointer-events: auto;
  opacity: 1;
  transform: scale(1);
}
.projimg{
    width: 70vw;
    height: auto;
  }

}

#container{
  width: 700px;
  height: auto;
  margin: 5em auto;
}

/* Start CSS of the accordion */

.accordion label {
  display:block;
  padding: 0 15px;
  height: 3em;
  cursor: pointer;
}
.accordion p {
  padding: 10px;
  opacity: 0;
  display: none;
  text-align: left;
  margin: 0px;
}
#tm:checked ~ .hiddentext {
  display: block;
  opacity: 1;
}
input#tm {
  display: none;
  position: relative;
}
#tn:checked ~ .hiddentext {
  display: block;
  opacity: 1;
}
input#tn {
  display: none;
  position: relative;
}
#to:checked ~ .hiddentext {
  display: block;
  opacity: 1;
}
input#to {
  display: none;
  position: relative;
}
.arrow{
  color: #666666;
}