html{
	font-family: century-gothic, sans-serif;
	font-weight: light;
	background-color:  rgb(248, 242, 242);
}


nav{
	display: grid;
	justify-content: center;
}


li{
	position: relative;
	display: inline-block;
	margin-top: 5%;

}


*:focus{
	border:1px orange;
}


h1 {
	text-align: center;
	font-weight: light;
	font-size: 10vw;

}
h2 {
	font-weight: lighter;
	font-size: 3vw;
}
h3 {
	font-weight: lighter;
	font-size: 2vw;
}
img{
	padding: 1vw;
}
p{
	font-weight: lighter;
	font-size: 2vw;
}
a{
	text-decoration: none;
}

h3 {
	font-size:20%;
}

div{
	padding: 0.4vw;
}



.skip{
	position: absolute;
	color:orange;
	left: -2000px;
	display: block;
}

.skip:focus{
	border:1px solid black;
	font-size: 2vw;
	left:0%;
	top: 10px;

}

.fancy{
    color: green;
    font-size: 12px;
}

.plain{
   color: black;
   font-size: 16px;

}

.hyli{
	font-size: 18pt;
}



.prop{
	width: 45%;
	height: 45%;

}

label{
	display: block;
	padding: 1vh;
}

textarea{
	margin: 20px;
	display: block;
}


}


.meTeam{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: row;
	flex-wrap: wrap;
	margin-left: 5%;
	justify-content: space-around;
	text-align: center;

	}

.stnd{
	position: relative;
	margin: 7%;
}
.projs{
	font-size: 2.4vw;
}
.nav, .currentP{
	display: flex;
	font-weight: bolder;
	font-size: 2vw;
	font-size-adjust: 1em;
	color:black;
	text-decoration: none;
	padding: 1.5vw;

}
.nav:hover{
	color: white;
	background-color:rgb(38, 35, 53);
}
.currentP{
	color: #ea0b00;
}

.home{
	position: fixed;
	left:-70%;
	height: 100%;
	width: 240%;
	
}

.hometext{

	display: grid;
	position:relative;
	bottom: -33vh;
	color:white;

}

.atex{
	text-align: center;
	font-weight: bolder;
	font-size: 3vw;
}

.typetext{
	font-weight: bolder;
	font-size: 2.5vw;
}

.grid-container {
  display: grid;
  grid-template-columns: 0.25fr 1fr 0.75fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: ". . ." ". . ." ". . ." ". . ." ". . ." ". . .";
  font-size: 2vw;
}

.home{
display: absolute;
top:-20px;
height: 110vh;

}
.container{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	flex-direction: column-reverse;


	}


@media only screen and (min-width: 0px) and (min-height: 0px), (max-width: 800px) and (max-height: 800px){ 

		.projimg{
		width: 100%;
		padding: 10px;
	}
}

@media only screen and (min-width: 901px), (min-height: 901px){ 

	.projimg{
		width: 30%;
		height: 30%;
		padding: 10px;
	}
}
@media (prefers-reduced-motion: reduce) {
}
